/build/
*.suo
*.user
_ReSharper.*/
*.sdf
/bin/
/obj/
/Debug/
/Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
.temp
.idea
*.iml
/node_modules
/bower_components