<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <span class="badge pull-right">ID: {{item.id}}</span>
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-random" aria-hidden="true"></span> &nbsp; Giver {{$index + 1}}
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <td>State</td>
                    <td>{{TransactionState.display(item.state)}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{item.displayName}}</td>
                </tr>
                <tr>
                    <td>Member</td>
                    <td>{{item.member}}</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>{{item.giverId}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{item.phoneNumber}}</td>
                </tr>
                <tr>
                    <td>Bank Name</td>
                    <td>{{item.bankName}}</td>
                </tr>
                <tr>
                    <td>Bank Branch</td>
                    <td>{{item.bankBranch}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{item.email}}</td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>{{item.amount}}</td>
                </tr>
                <tr>
                    <td>Time left</td>
                    <td>
                        <timer interval="1000" countdown="item.countdown" ng-if="item.countdown>0">
                            {{days}} day - {{hhours}}:{{mminutes}}:{{sseconds}} <span> </span>
                        </timer>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group text-center">
            <img class="transaction-attachment-file" ng-show="item.attachmentUrl" src="{{item.attachmentUrl}}" />
        </div>
        <div class="form-group text-center" ng-show="item.isAllowConfirmReceived && !item.isEnd">
            <button class="btn btn-success" ng-click="moneyReceived(item)">Receive?</button>
            <!--<button class="btn btn-danger" ng-click="reportNotTransfer(item)">Report</button>-->
        </div>
    </div>
</div>