<div class="panel panel-danger" ng-show="histories.length>0">
    <div class="panel-heading">History</div>
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>Account</td>
                <td>Member</td>
                <td>Time</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in histories">
                <td>{{$index + 1}}</td>
                <td>{{item.userName}}</td>
                <td><uib-rating ng-model="item.rating" max="5" read-only="true"></uib-rating></td>
                <td>{{item.time|date:ConfigData.dateTimeFormat}}</td>
                <td>{{item.action}}</td>
            </tr>
        </tbody>
    </table>
</div>