<div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
    <form role="form" data-ng-submit="submit()" name="frmPassword" novalidate>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="oldPwd" data-ng-model="model.oldPassword" ng-minlength="6" maxlength="12" required>
            <div ng-messages="frmPassword.oldPwd.$error" ng-if="interacted(frmPassword.oldPwd)" class="error-messages">
                <div ng-messages-include="validation-messages"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="newPwd">New Password:</label>
            <input type="password" class="form-control" name="newPwd" data-ng-model="model.newPassword" ng-minlength="6" maxlength="12" required>
            <div ng-messages="frmPassword.newPwd.$error" ng-if="interacted(frmPassword.newPwd)" class="error-messages">
                <div ng-messages-include="validation-messages"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPwd">Confirm New Password:</label>
            <input type="password" class="form-control" name="confirmPwd" data-ng-model="model.confirmPassword" ng-minlength="6" maxlength="12" ui-validate=" '$value==model.newPassword' "
                   ui-validate-watch=" 'model.newPassword' " required>
            <div ng-messages="frmPassword.confirmPwd.$error" ng-if="interacted(frmPassword.confirmPwd)" class="error-messages">
                <div ng-messages-include="validation-messages"></div>
                <div ng-message="validator">This password does not match the new password entered before</div>
            </div>
        </div>
        <div class="form-group" ng-if="failed">
            <p class="text-danger">Cannot update your password. Please check your inputs and try again.</p>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </form>
</div>
