<div class="modal-header">
    <h3 class="modal-title">Edit Portrait</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-7">
            <!--<div class="row">                
                <div class="col-xs-12">
                    <div class="crop-area">
                        <img-crop ng-show="image" image="image" result-image="cropped.image" area-type="round" result-image-size="250"></img-crop>
                    </div>
                </div>
                <div class="col-xs-12">
                    <input type="file" nv-file-select="" uploader="uploader">
                </div>
            </div>-->
            <div class="column-wrapper-left">
                <div class="crop-area">
                    <img-crop ng-show="image" image="image" result-image="cropped.image" area-type="round" result-image-size="250"></img-crop>
                </div>

                <div class="text-center upload-btn-container">
                    <div class="fileUpload btn btn-primary text-center">
                        <span>Upload</span>
                        <input type="file" nv-file-select="" uploader="uploader" class="upload">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 column-wrapper-right column-divider-left">
            <div class="m-lg-left-right">
                <p class="form-title text-center">Your Profile Portrait</p>
                <div class="avatar-wrapper">
                    <img ng-src="{{cropped.image}}" class="avatar avatar-lg" />
                </div>
                <p class="form-description text-center">Must be an actual picture of you! Logos, clip-art, group pictures, and digitally-altered images not allowed.</p>
                <div class="text-center">
                    <button class="btn btn-primary m-0-left" ng-click="uploadImage()">Save</button>
                    <button class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>