<div class="chat-container" ng-controller="chatController">
    <div class="chat-control" ng-show="!isShowNewChatWith">
        <button class="btn btn-success" ng-click="isShowNewChatWith = true">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <div class="chat-control input-group" ng-show="isShowNewChatWith">
        <input class="form-control" ng-model="newChatWith" />
        <span class="input-group-btn">
            <button class="btn btn-success"
                    ng-enter="newChat(newChatWith); newChatWith =''; isShowNewChatWith = false;"
                    ng-click="newChat(newChatWith); newChatWith =''; isShowNewChatWith = false;">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>
    <div ng-repeat="withAccount in messageData.chatData">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-user"></span> <span data-ng-bind="withAccount.account"></span>
                <button type="button" class="close" ng-click="closeChat(withAccount)">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="panel-body">
                <ul class="chat-message-container">
                    <li ng-repeat="message in withAccount.messages">
                        <span class="message-sender" data-ng-bind="message.Owner"></span>:
                        <span class="message-message" data-ng-bind="message.Messsage"></span>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input class="form-control" ng-model="withAccount.newMessage"
                           ng-enter="sendMessageTo(withAccount);"
                           ng-focus="onfocus(withAccount)"
                           ng-blur="onblur(withAccount)" />
                    <span class="input-group-btn">
                        <button class="btn btn-success" ng-click="sendMessageTo(withAccount);"><span class="glyphicon glyphicon-share"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>