<div>
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default panel-form">
            <div class="panel-heading">
                <h3 class="panel-title">Change All User Accounts Password</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="frmChangePassword" novalidate ng-submit="changeUserPassword()">
                    <div class="form-group">
                        <label for="userPrefix">Enter Account Prefix</label>
                        <input class="form-control" placeholder="account prefix" name="userPrefix" type="text" data-ng-model="userPrefix" required>
                        <div ng-messages="frmChangePassword.userPrefix.$error" ng-if="interacted(frmChangePassword.userPrefix)" class="error-messages">
                            <div ng-messages-include="validation-messages"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Enter Account Prefix</label>
                        <input class="form-control" placeholder="new password" name="password" type="password" data-ng-model="password" required>
                        <div ng-messages="frmChangePassword.password.$error" ng-if="interacted(frmChangePassword.password)" class="error-messages">
                            <div ng-messages-include="validation-messages"></div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="message">
                        <p class="text-success" data-ng-bind="message"></p>
                    </div>
                    <input class="btn btn-lg btn-primary btn--submit" type="submit" value="Reset">
                </form>
            </div>
        </div>
    </div>
</div>