<div class="panel panel-default panel-form">
    <div class="panel-heading">
        <span class="badge pull-right">ID: {{info.userName}}</span>
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-random" aria-hidden="true"></span> &nbsp; Information
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label>User</label>
                <p class="form-control-static" data-ng-bind="info.displayName"></p>
            </div>
            <div class="col-md-6">
                <label>Parent</label>
                <p class="form-control-static" data-ng-bind="info.parentId"></p>
            </div>
        </div>
        <div class="form-group">
            <img />
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label>Rating</label>
                <p>
                    <uib-rating ng-model="info.rating" max="5" read-only="true"></uib-rating>
                </p>
            </div>
            <div class="col-md-6">
                <label>Level</label>
                <p class="form-control-static" data-ng-bind="info.level"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Priority Level</label>
                <p class="form-control-static" data-ng-bind="PriorityLevel.display(info.level)"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Account State</label>
                <p class="form-control-static" data-ng-bind="AccountState.display(info.state)"></p>
            </div>
            <div class="col-md-6">
                <label>User State</label>
                <p class="form-control-static" data-ng-bind="UserState.display(info.userState)"></p>
            </div>
        </div>
        <div class="row" ng-show="info.userState!=UserState.Default">
            <div class="col-md-6">
                <label>Related Account</label>
                <p class="form-control-static" data-ng-bind="info.relatedAccount"></p>
            </div>
            <div class="col-md-6">
                <label>Related Transaction</label>
                <p class="form-control-static" data-ng-bind="info.relatedTransaction"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Allow Give?</label>
                <p class="form-control-static" data-ng-bind="info.isAllowGive|yesno"></p>
            </div>
            <div class="col-md-6">
                <button class="btn" ng-show="false" ng-disabled="!info.isAllowGive" ng-class="{'btn-success': info.isAllowGive}" ng-click="queueGive()">Request Give</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Allow Receive?</label>
                <p class="form-control-static" data-ng-bind="info.isAllowReceive|yesno"></p>
            </div>
            <div class="col-md-6">
                <button class="btn" ng-show="false" ng-disabled="!info.isAllowReceive" ng-class="{'btn-success': info.isAllowReceive}" ng-click="queueReceive()">Request Receive</button>
            </div>
        </div>
        <div class="form-group">
            <label>Last Cycle Date</label>
            <p class="form-control-static" data-ng-bind="info.lastCycleDate|date:ConfigData.dateFormat"></p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>PhoneNumber</label>
                <p class="form-control-static" data-ng-bind="info.phoneNumber"></p>
            </div>
            <div class="col-md-6">
                <label>Email</label>
                <p class="form-control-static" data-ng-bind="info.email"></p>
            </div>
        </div>
        <div class="form-group">
            <label>BankName</label>
            <p class="form-control-static" data-ng-bind="info.bankName"></p>
        </div>
        <div class="form-group">
            <label>BankNumber</label>
            <p class="form-control-static" data-ng-bind="info.bankNumber"></p>
        </div>
        <div class="form-group">
            <label>BankBranch</label>
            <p class="form-control-static" data-ng-bind="info.bankBranch"></p>
        </div>
    </div>
</div>