<div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default panel-form">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> &nbsp; Accounts
                    </h3>
                </div>
                <div class="panel-body">
                    <table st-table="data" st-pipe="loadData" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Member</th>
                                <th>State</th>
                                <th>Priority</th>
                                <th>Last Cycle</th>
                                <th>Give/Receive allowed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <div class="form-inline">
                                        <input st-search="userName" class="form-control" placeholder="Search user id ..." />     
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="item in data" ng-click="viewDefails(item)" ng-class="{'info':item.selected}">
                                <td>
                                    <span data-ng-bind="item.userName"></span>
                                </td>
                                <td>
                                    <uib-rating ng-model="item.rating" max="6" read-only="true"></uib-rating>
                                </td>
                                <td>
                                    <span data-ng-bind="getAccountState(item)"></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-bind="PriorityLevel.display(item.priority)"></span>
                                </td>
                                <td>
                                    <span data-ng-bind="item.lastCycleDate|date:ConfigData.dateFormat"></span>
                                </td>
                                <td class="text-center">
                                    <span data-ng-bind="item.isAllowGive|yesno"></span> /
                                    <span data-ng-bind="item.isAllowReceive|yesno"></span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" st-pagination="" st-items-by-page="" st-displayed-pages="" colspan="7"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4" ui-view>
        </div>
    </div>
</div>