
<table st-table="data" st-pipe="loadData" class="table">
    <thead>
        <tr>
            <th>#</th>
            <th st-sort="accountId">Account</th>
            <th st-sort="displayName">Name</th>
            <th st-sort="amount">Amount</th>
            <th st-sort="priority">Priority</th>
            <th st-sort="type">Type</th>
            <th st-sort="created">Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="7">
                <div class="form-inline">
                    <input st-search="userName" class="form-control" placeholder="search ..." />
                    <button class="btn btn-success" ng-click="reload()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>
        <tr ng-repeat="item in data" ng-click="viewDefails(item)" ng-class="{'info':item.selected, 'danger': item.type==WaitingType.Bonus, 'warning': item.type==WaitingType.Abandon}">
            <td>
                <span>{{ $index + 1 }}</span>
            </td>
            <td>
                <span data-ng-bind="item.accountId"></span>
            </td>
            <td>
                <span data-ng-bind="item.displayName"></span>
            </td>
            <td>
                <span data-ng-bind="item.amount"></span>
            </td>
            <td>
                <span data-ng-bind="PriorityLevel.display(item.priority)"></span>
            </td>
            <td>
                <span data-ng-bind="WaitingType.display(item.type)"></span>
            </td>
            <td>
                <span data-ng-bind="item.created|date:ConfigData.dateFormat"></span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="" st-displayed-pages="" colspan="7"></td>
        </tr>
    </tfoot>
</table>