<div>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default panel-form">
            <div class="panel-heading">
                <h3 class="panel-title">Reset your password</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="frmReset" novalidate ng-submit="reset()" ng-show="step==1">
                    <div class="form-group">
                        <label for="user">User Id: </label>
                        <input class="form-control" placeholder="User" name="user" type="text" data-ng-model="resetData.userName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="password">New password: </label>
                        <input class="form-control" placeholder="New password" name="password" type="password" data-ng-model="resetData.newPassword" required>
                        <div ng-messages="frmReset.password.$error" ng-if="interacted(frmReset.password)" class="error-messages">
                            <div ng-messages-include="validation-messages"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPwd">Confirm new password:</label>
                        <input type="password" class="form-control" placeholder="Confirm new password" name="confirmPwd" data-ng-model="resetData.confirmPassword" ng-minlength="6" maxlength="12" ui-validate=" '$value==resetData.newPassword' "
                               ui-validate-watch=" 'resetData.newPassword' " required>
                        <div ng-messages="frmReset.confirmPwd.$error" ng-if="interacted(frmReset.confirmPwd)" class="error-messages">
                            <div ng-messages-include="validation-messages"></div>
                            <div ng-message="validator">This password does not match the password entered before</div>
                        </div>
                    </div>                   
                    <input class="btn btn-lg btn-primary btn--submit" type="submit" value="Reset">
                    <input class="btn btn-lg btn-default" type="button" value="Back to login" ng-click="backToLogin()">
                </form>

                <form role="form" name="frmSuccess" novalidate ng-submit="backToLogin()" ng-show="step==2">
                    <div class="form-group">
                        <p class="text-success" data-ng-bind="message"></p>
                    </div>
                    <input class="btn btn-lg btn-default" type="submit" value="Back to login" ng-click="backToLogin()">
                </form>
            </div>
        </div>
    </div>
</div>
