/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #39015d;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
.btn {
  margin-right: 8px;
}
/* Avatar style
-------------------------------------------------- */
/* Required for avatar section. */
.avatar-change-btn {
  position: relative;
  top: -40px;
  background-color: rgba(0, 0, 0, 0.541176);
  width: 200px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  color: #ffffff;
}
.avatar-frame {
  border: 2px solid #c7b89e;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration: underline;
}
.avatar-frame,
.avatar-frame img {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 120px;
  /* Saf3+, Chrome */
  border-radius: 120px;
  /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px;  Disabled for FF1+ */
  overflow: hidden;
}
.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}
.container--custom {
  padding: 100px 15px 0 !important;
}
.middle-container {
  text-align: center;
  margin-top: 40px;
  color: #fff;
}
.middle-container .heading {
  font-size: 60px;
  font-weight: normal;
}
.middle-container .shell {
  margin-top: -80px;
}
.middle-container .shell #plax-sphere-2 {
  margin-left: -40px;
  margin-bottom: -100px;
}
.middle-container .shell #plax-sphere-3 {
  margin-left: -40px;
  margin-bottom: -80px;
}
.middle-container .text-content {
  margin-top: -200px;
}
@media only screen and (min-width: 768px) {
  .middle-container .text-content {
    margin-top: -110px;
  }
}
.middle-container .text-content .text-margin {
  margin-top: 30px;
}
.middle-container .text-content .text-margin span {
  background: #FFF;
  color: #b908b2;
  padding: 3px 2px;
}
.circle-main {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.js-video.widescreen {
  padding-bottom: 56.34%;
}
.js-video.vimeo {
  padding-top: 0;
}
.js-video embed,
.js-video iframe,
.js-video object,
.js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.padding-5 {
  padding: 5px;
}
.padding-30 {
  padding: 30px;
}
.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}
.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}
.navbar-nav li a,
.navbar-nav li .navbar-brand {
  padding-top: 18px !important;
  padding-bottom: 0 !important;
  height: 60px;
}
@media (min-width: 768px) {
  .navbar-right {
    margin-right: -22px !important;
  }
}
.navbar {
  min-height: 28px !important;
}
.navbar--custom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#383a3f+0,2e3034+50,202225+98,383a3f+100,207cca+100,383a3f+100,202225+100 */
  background: #383a3f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #383a3f 0%, #2e3034 50%, #202225 98%, #383a3f 100%, #207cca 100%, #383a3f 100%, #202225 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #383a3f 0%, #2e3034 50%, #202225 98%, #383a3f 100%, #207cca 100%, #383a3f 100%, #202225 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #383a3f 0%, #2e3034 50%, #202225 98%, #383a3f 100%, #207cca 100%, #383a3f 100%, #202225 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383a3f', endColorstr='#202225', GradientType=0);
  /* IE6-9 */
  border-bottom-width: 2px;
  border-bottom-color: #f35f5f;
}
.navbar-logo {
  width: 50px;
  height: 60px;
  display: inline-block;
  float: left;
  background-image: url('images/logo.png');
  background-repeat: no-repeat;
  background-position: left;
}
.navbar-brand--custom {
  height: 60px;
  line-height: normal;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fafafa !important;
}
.navbar-nav--custom li a {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: #9fa0a1 !important;
  text-transform: uppercase;
}
.navbar-nav--custom .active > a,
.navbar-nav--custom .open > a {
  color: white !important;
  background-color: #f35f5f !important;
}
.navbar-nav--custom .dropdown-menu {
  margin-top: 2px !important;
}
.navbar-nav--custom .dropdown-menu > li > a:hover {
  color: white !important;
  background-color: #f35f5f !important;
}
.navbar-right--custom > li > a {
  color: #fafafa !important;
}
.navbar-right--custom > li .dropdown-toggle--custom {
  padding-top: 9px !important;
}
.navbar-right--custom > li .dropdown-toggle--custom:hover {
  cursor: pointer;
}
.navbar-right--custom > li .dropdown-toggle--custom .user-info {
  right: 60%;
  float: right;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .navbar-right--custom > li .dropdown-toggle--custom .user-info {
    right: 0;
  }
}
.navbar-right--custom > li .dropdown-toggle--custom .user-info--pin {
  position: absolute;
  font-size: 11px;
  color: #9fa0a1;
}
.navbar-right--custom .nav-right--custom__avatar {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
.navbar-right--custom .dropdown-menu {
  margin-top: 2px !important;
}
.navbar-right--custom .dropdown-menu > li > a:hover {
  color: white !important;
  background-color: #f35f5f !important;
}
.panel-form .panel-heading {
  background-color: #4b2218;
}
.panel-form .panel-heading .panel-title {
  color: #fff9f8;
}
.panel-form .panel-heading .panel-logo {
  width: 35px;
  height: 35px;
  display: inline-block;
  float: left;
  line-height: 37px;
  background-image: url('images/edit-logo.png');
  margin-top: -10px;
  margin-right: 10px;
}
.panel-form .panel-body .btn--submit {
  color: #fff9f8;
  background-color: #f35f5f;
}
.panel-form .panel-body .btn--submit:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.panel-form .panel-body .btn--submit-selected {
  background-color: lightgreen !important;
}
.panel-form .panel-body .icon--main {
  position: absolute;
  right: 20px;
  top: 5px;
}
.panel-form .panel-body .row {
  padding-top: 10px;
}
.panel-form .panel-body .col-xs-4,
.panel-form .panel-body .col-xs-8,
.panel-form .panel-body .col-xs-12 {
  padding: 0px 5px 0px 5px;
}
.panel-form .panel-body .rating-custom .glyphicon-star {
  color: #FFA500;
}
.panel-form .panel-body .rating-custom .glyphicon-star-empty {
  color: black;
}
.panel-form .panel-body .user-detail {
  border: 1px solid #4b2218;
  margin: 5px 0 5px 0;
  border-radius: 4px;
  padding-bottom: 10px;
}
.panel-form .panel-body .user-detail .col-xs-4,
.panel-form .panel-body .user-detail .col-xs-8,
.panel-form .panel-body .user-detail .col-xs-12 {
  padding: 0px 5px 0px 5px;
  font-family: 'Eras ITC';
}
.panel-table .panel-heading {
  background-color: #4b2218;
}
.panel-table .panel-heading .panel-title {
  color: #fff9f8;
}
.panel-table .panel-heading .panel-logo {
  width: 35px;
  height: 35px;
  display: inline-block;
  float: left;
  line-height: 37px;
  background-image: url('images/complete-logo.png');
  margin-top: -10px;
  margin-right: 10px;
}
.crop-area {
  height: 295px;
  width: 390px;
  background-color: #f2f2f2;
  overflow: hidden;
}
.column-wrapper-right.column-divider-left:before {
  content: ' ';
  display: block;
  float: left;
  background: #e0e0e0;
  width: 2px;
  top: 0;
  bottom: 0;
  position: absolute;
}
.portraitDialog > .modal-dialog.modal-lg {
  width: 760px;
}
.column-wrapper-left {
  margin: 20px;
  max-width: 470px;
}
.column-wrapper-right {
  max-width: 330px;
}
.avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border-style: none;
  border-width: 0px;
}
.avatar-wrapper {
  text-align: center;
  margin-bottom: 40px;
}
.avatar-lg {
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 0;
}
.m-lg-left-right {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.column-wrapper-right .form-title {
  font-size: 16px;
  color: #494949;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}
.column-wrapper-right .form-description {
  margin-bottom: 40px;
}
.column-wrapper-right p {
  margin: 0px;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.upload-btn-container {
  margin-top: 40px;
}
input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
.ui-select-container.ng-dirty.ng-valid span.ui-select-toggle {
  border: 1px solid red;
}
.ng-submitted input.ng-invalid,
.ng-submitted select.ng-invalid,
.ng-submitted textarea.ng-invalid,
.ng-submitted .ui-select-container.ng-invalid span.ui-select-toggle {
  border: 1px solid red;
}
input.ng-dirty.ng-valid,
select.ng-dirty.ng-valid,
textarea.ng-dirty.ng-valid,
.ui-select-container.ng-dirty.ng-valid span.ui-select-toggle {
  border: 1px solid green;
}
.error-messages.ng-active {
  background: maroon;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 15px;
  position: relative;
}
.error-messages.ng-active:after {
  position: absolute;
  top: -10px;
  content: "";
  left: 20px;
  border-style: solid;
  border-color: transparent transparent maroon;
  border-width: 5px;
}
.rate-info {
  background: rgba(0, 0, 0, 0.7);
  color: lightgrey;
  padding: 30px;
}
.rate-info__heading {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}
.rate-info__content {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.rate-info__content .content-left {
  margin-top: 50px;
}
.rate-info__content .content-left .title {
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
}
.rate-info__content .content-left .content {
  font-size: 18px;
  color: #f35f5f;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
}
.rate-info__content .content-left .content > span {
  color: cadetblue;
}
.rate-info__content .content-right .price-table {
  text-align: center;
}
.rate-info__content .content-right .price-table__title {
  font-size: 18px;
  font-weight: 700;
}
.rate-info__content .content-right .price-table__content {
  margin-top: 10px;
  border: 1px solid darkslategrey;
  font-size: 16px;
}
.rate-info__content .content-right .price-table__content .border-left {
  border-left: 1px solid darkslategrey;
}
.rate-info__content .content-right .price-table__content .border-right {
  border-right: 1px solid darkslategrey;
}
.rate-info__content .content-right .price-table__content .border-top {
  border-top: 1px solid darkslategrey;
}
.rate-info__content .content-right .price-table__content .border-bottom {
  border-bottom: 1px solid darkslategrey;
}
.rate-info__content .content-right .price-table__content .table-header .quantity {
  position: relative;
  top: 15px;
}
.transaction-title {
  color: azure;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin-top: 30px;
}
.transaction-title.transaction-title-color {
  color: #39015d !important;
}
.transaction-step .glyphicon {
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
}
.transaction-step .glyphicon-ok:before {
  content: "";
}
.transaction-step .glyphicon-expand:before {
  content: "";
}
.transaction-step .glyphicon-unchecked:before {
  content: "";
}
.transaction-step .text-default {
  line-height: 2.0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: white;
  position: relative;
  width: 80%;
  margin-top: 60px;
  margin-bottom: 15px;
  margin-left: 9%;
}
.transaction-step .text-default:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-width: 8px;
  margin-left: -8px;
}
.transaction-step__1 .text-ok,
.transaction-step__1 .text-expand {
  background-color: #ffa089;
}
.transaction-step__1 .text-ok:before,
.transaction-step__1 .text-expand:before {
  position: absolute;
  top: -100%;
  left: 50%;
  content: " ";
  height: 35px;
  width: 30px;
  background-image: url('images/trade1-top.png');
  margin-top: -15px;
  margin-left: -15px;
}
.transaction-step__1 .text-ok:after,
.transaction-step__1 .text-expand:after {
  border-top-color: #ffa089;
}
.transaction-step__1 .glyphicon-ok {
  background-image: url('images/trade1.png');
}
.transaction-step__1 .glyphicon-expand,
.transaction-step__1 .glyphicon-unchecked {
  background-image: url('images/trade1-disable.png');
}
.transaction-step__2 .text-ok,
.transaction-step__2 .text-expand {
  background-color: #ff8c70;
}
.transaction-step__2 .text-ok:before,
.transaction-step__2 .text-expand:before {
  position: absolute;
  top: -100%;
  left: 50%;
  content: " ";
  height: 35px;
  width: 30px;
  background-image: url('images/trade2-top.png');
  margin-top: -15px;
  margin-left: -15px;
}
.transaction-step__2 .text-ok:after,
.transaction-step__2 .text-expand:after {
  border-top-color: #ff8c70;
}
.transaction-step__2 .text-unchecked {
  background-color: #ababab;
}
.transaction-step__2 .text-unchecked:before {
  position: absolute;
  top: -100%;
  left: 50%;
  content: " ";
  height: 35px;
  width: 30px;
  background-image: url('images/trade2-top-disable.png');
  margin-top: -15px;
  margin-left: -15px;
}
.transaction-step__2 .text-unchecked:after {
  border-top-color: #ababab;
}
.transaction-step__2 .glyphicon-ok {
  background-image: url('images/trade2.png');
}
.transaction-step__2 .glyphicon-expand,
.transaction-step__2 .glyphicon-unchecked {
  background-image: url('images/trade2-disable.png');
}
.transaction-step__3 .text-ok,
.transaction-step__3 .text-expand {
  background-color: #b2543c;
}
.transaction-step__3 .text-ok:before,
.transaction-step__3 .text-expand:before {
  position: absolute;
  top: -100%;
  left: 50%;
  content: " ";
  height: 35px;
  width: 30px;
  background-image: url('images/trade3-top.png');
  margin-top: -15px;
  margin-left: -15px;
}
.transaction-step__3 .text-ok:after,
.transaction-step__3 .text-expand:after {
  border-top-color: #b2543c;
}
.transaction-step__3 .text-unchecked {
  background-color: #6e6e6e;
}
.transaction-step__3 .text-unchecked:before {
  position: absolute;
  top: -100%;
  left: 50%;
  content: " ";
  height: 35px;
  width: 30px;
  background-image: url('images/trade3-top-disable.png');
  margin-top: -15px;
  margin-left: -15px;
}
.transaction-step__3 .text-unchecked:after {
  border-top-color: #6e6e6e;
}
.transaction-step__3 .glyphicon-ok {
  background-image: url('images/trade3.png');
}
.transaction-step__3 .glyphicon-expand,
.transaction-step__3 .glyphicon-unchecked {
  background-image: url('images/trade3-disable.png');
}
.transaction-step__4 .text-ok,
.transaction-step__4 .text-expand {
  background-color: #8e4330;
}
.transaction-step__4 .text-ok:before,
.transaction-step__4 .text-expand:before {
  position: absolute;
  top: -100%;
  left: 50%;
  content: " ";
  height: 35px;
  width: 30px;
  background-image: url('images/trade4-top.png');
  margin-top: -15px;
  margin-left: -15px;
}
.transaction-step__4 .text-ok:after,
.transaction-step__4 .text-expand:after {
  border-top-color: #8e4330;
}
.transaction-step__4 .text-unchecked {
  background-color: #575757;
}
.transaction-step__4 .text-unchecked:before {
  position: absolute;
  top: -100%;
  left: 50%;
  content: " ";
  height: 35px;
  width: 30px;
  background-image: url('images/trade4-top-disable.png');
  margin-top: -15px;
  margin-left: -15px;
}
.transaction-step__4 .text-unchecked:after {
  border-top-color: #575757;
}
.transaction-step__4 .glyphicon-ok {
  background-image: url('images/trade4.png');
}
.transaction-step__4 .glyphicon-expand,
.transaction-step__4 .glyphicon-unchecked {
  background-image: url('images/trade4-disable.png');
}
.transaction-step__5 .text-ok,
.transaction-step__5 .text-expand {
  background-color: #4b2218;
}
.transaction-step__5 .text-ok:before,
.transaction-step__5 .text-expand:before {
  position: absolute;
  top: -100%;
  left: 50%;
  content: " ";
  height: 35px;
  width: 30px;
  background-image: url('images/trade5-top.png');
  margin-top: -15px;
  margin-left: -15px;
}
.transaction-step__5 .text-ok:after,
.transaction-step__5 .text-expand:after {
  border-top-color: #4b2218;
}
.transaction-step__5 .text-unchecked {
  background-color: #2d2d2d;
}
.transaction-step__5 .text-unchecked:before {
  position: absolute;
  top: -100%;
  left: 50%;
  content: " ";
  height: 35px;
  width: 30px;
  background-image: url('images/trade5-top-disable.png');
  margin-top: -15px;
  margin-left: -15px;
}
.transaction-step__5 .text-unchecked:after {
  border-top-color: #2d2d2d;
}
.transaction-step__5 .glyphicon-ok {
  background-image: url('images/trade5.png');
}
.transaction-step__5 .glyphicon-expand,
.transaction-step__5 .glyphicon-unchecked {
  background-image: url('images/trade5-disable.png');
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 1px;
}
.transaction-attachment-file {
  height: 100%;
  width: 100%;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.transaction-account-info-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.transaction-account-info {
  border-top-width: 0px !important;
  border-bottom-width: 1px !important;
}
.transaction-account-info td:first-child {
  white-space: nowrap;
}

/*# sourceMappingURL=main.css.map */
