
.chat-container {
    position: absolute;
    bottom: 60px;
    right: 0px;

    > div {
        display: inline-block;
        margin-right: 10px;
    }

    .panel {
        width: 260px;

        .panel-body {
            height: 200px;
            overflow-y: auto;
        }
    }

    .chat-message-container {

        .message-sender {
        }

        .message-message {
        }

        .message-time {
        }

        .message-state {
        }
    }

    .chat-control {
        bottom: 0px;
    }
}
