
.chat-container {
    /*position: absolute;
    bottom: 60px;*/
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    right: 0px;

    > div {
        display: inline-block;
        margin-right: 5px;
    }

    .panel {
        width: 260px;
        margin-bottom: 0px;
        position: relative;

        .panel-body {
            height: 200px;
            overflow-y: auto;
            padding: 5px;
            background-color: #f5f5f5;
        }

        .panel-footer {
            background-color: white;
            padding: 0px;

            input {
                border-width: 0px;
                width: 100%;
                height: 45px;
            }

            button {
                position: absolute;
                right: 0px;
                bottom: 6px;
            }
        }
    }

    .chat-message-container {
        padding: 0;
        list-style-type: none;

        .message-sender {
            font-weight: bold;
        }

        .message-message {
            font-style: italic;
        }

        .message-time {
        }

        .message-state {
        }

        li:last-child {
            height: 20px;
        }
    }

    .chat-control {
        position: absolute;
        left: -5px;
        bottom: 5px;

        &.new-chat{
            left: -175px;
        }

        button {
            &:last-of-type {
                position: absolute;
                right: -8px;
                bottom: 0px;
            }
        }
    }
}
