.panel-form {
    .panel-heading {
        background-color: @dark-grey;

        .panel-title {
            color: @white-text;
        }

        .panel-logo {
            width: 35px;
            height: 35px;
            display: inline-block;
            float: left;
            line-height: 37px;
            background-image: url('images/edit-logo.png');
            margin-top: -10px;
            margin-right: 10px;
        }
    }

    .panel-body {
        .btn--submit {
            color: @white-text;
            background-color: #f35f5f;

            &:hover {
                color: #333;
                background-color: #e6e6e6;
                border-color: #adadad;
            }
        }

        .btn--submit-selected {
            background-color: lightgreen !important;
        }

        .icon--main {
            position:absolute; right: 20px; top:5px;
        }

        .row {
            padding-top : 10px;            
        }

        .col-xs-4,.col-xs-8,.col-xs-12 {
                padding: 0px 5px 0px 5px;
        }

        .rating-custom {
            .glyphicon-star {
                color: red;
            }

            .glyphicon-star-empty {
                color:black
            }
        }

        .user-detail {
            border:1px solid @dark-grey;
            margin: 5px 0 5px 0;
            border-radius:4px;
            padding-bottom: 10px;
            
            .col-xs-4,.col-xs-8,.col-xs-12 {
                padding:0px 5px 0px 5px;
                font-family: 'Eras ITC';
            }
        }
    }
}

.panel-table {
    .panel-heading {
        background-color: @dark-grey;

        .panel-title {
            color: @white-text;
        }

        .panel-logo {
            width: 35px;
            height: 35px;
            display: inline-block;
            float: left;
            line-height: 37px;
            background-image: url('images/complete-logo.png');
            margin-top: -10px;
            margin-right: 10px;
        }
    }
}
