/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #39015d;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    //background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}


.btn {
    margin-right: 8px;
}

/* Avatar style
-------------------------------------------------- */
/* Required for avatar section. */

.avatar-change-btn {
    position: relative;
    top: -40px;
    background-color: rgba(0, 0, 0, 0.541176);
    width: 200px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: rgb(255,255,255);
}

.avatar-frame {
    border: 2px solid #c7b89e;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: underline;
}

.avatar-frame, .avatar-frame img {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 120px; /* Saf3+, Chrome */
    border-radius: 120px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
    overflow: hidden;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.container--custom {
    padding: 100px 15px 0 !important;
}

.middle-container {
    text-align: center;
    margin-top: 40px;
    color: #fff;

    .heading {
        font-size: 60px;
        font-weight: normal;
    }

    .shell {
        margin-top: -80px;

        #plax-sphere-2 {
            margin-left: -40px;
            margin-bottom: -100px;
        }

        #plax-sphere-3 {
            margin-left: -40px;
            margin-bottom: -80px;
        }
    }

    .text-content {
        margin-top: -200px;

        @media only screen and (min-width: 768px) {
            margin-top: -110px;
        }

        .text-margin {
            margin-top: 30px;

            span {
                background: #FFF;
                color: #b908b2;
                padding: 3px 2px;
            }
        }
    }
}

.circle-main {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.js-video.widescreen {
    padding-bottom: 56.34%;
}

.js-video.vimeo {
    padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.padding-5 {
    padding: 5px;
}

.padding-30 {
    padding: 30px;
}
