.transaction-step {
    .glyphicon {
        width: 128px;
        height: 128px;
        background-repeat: no-repeat;

        &-ok:before {
            content: "";
        }

        &-expand:before {
            content: "";
        }

        &-unchecked:before {
            content: "";
        }
    }

    &__1 {
        .glyphicon-ok {
            background-image: url('images/trade1.png');
        }


    }

    &__2 {
        .glyphicon-ok {
            background-image: url('images/trade2.png');
        }

        .glyphicon-expand, .glyphicon-unchecked {
            background-image: url('images/trade2-disable.png');
        }
    }

    &__3 {
        .glyphicon-ok {
            background-image: url('images/trade3.png');
        }

        .glyphicon-expand, .glyphicon-unchecked {
            background-image: url('images/trade3-disable.png');
        }
    }

    &__4 {
        .glyphicon-ok {
            background-image: url('images/trade4.png');
        }

        .glyphicon-expand, .glyphicon-unchecked {
            background-image: url('images/trade4-disable.png');
        }
    }

    &__5 {
        .glyphicon-ok {
            background-image: url('images/trade5.png');
        }

        .glyphicon-expand, .glyphicon-unchecked {
            background-image: url('images/trade5-disable.png');
        }
    }
}
